*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Nunito', sans-serif;
}

.contact_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.contact_info_item {
    text-align: center;
    white-space: nowrap;

    /* FIXME: for whatever reason, the spacing is based off the size of the 
     * image, PRIOR to scaling the images and text down. So the divs are 
     * really large because of the massive pictures and text. That's why 
     * they are spaced so far apart*/
    transform: scale(0.125);
    transition: transform 125ms ease-in-out;
}

.contact_info_item:hover, 
.contact_info_item:focus {
    transform: scale(0.175);
    opacity: 0.75;
    cursor: pointer;
} 


.image_container {
    display: inline-block; /* the wrapper div should only be as large as its contents */
    position: relative; /* we want the ::after to be relative to this div, for easy positioning */
}
/* pseudo elements don't work on images so I need to wrap it in a div*/
.image_container::after {
    content: ""; /* always need to give pseudo elements a content property */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 150% 150% 0 0;
    border-radius: 50%;
    background: turquoise;
    z-index: -1; /* this wont work without having a position relative and absolute */
}

/* We want the details to not show by default, and show on hover of the entire element */
.contact_info_details {
    opacity: 0;
    transition: opacity 125ms linear;
    font-size: 7em;
}

/* When hovering over the entire contact_info_items, we want to show the text */
.contact_info_item:hover .contact_info_details, 
.contact_info_item:focus .contact_info_details {
    opacity: 1;
}