div {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: black;
}

#dimensions {
	border-radius: 15px;
	background: rgb(192, 192, 192);
	padding: 20px;
	width: 200px;
	height: 250px;
	color: black;
}

#output {
	background-color: rgb(163, 163, 163);
	font-size: 24pt;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	padding-right: 5px;
	align-items: center;
	border-radius: 5px;
}
 
table {
	width: 100%;
	height: auto;
	padding-top: 10px;
}

td {
	text-align: center;
}

button {
	border-radius: 40%;
	background: rgb(255, 92, 247);
	height: 45px;
	width: 45px;
	font-weight: bolder;
	font-size: 18pt;
	outline: black solid thin;
}

button:hover {
	background: rgb(214, 0, 178);
}

.ops {
	background: #3073d6;
}

.ops:hover {
	background: rgb(7, 23, 248);
}

#key-blank {
	all: unset;
}