.scroll_tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.5rem;
    /* background-color: red; */
    transform-origin: left;
    /* border-radius: 0 100000000px 100000000px 0; */
    background-image: linear-gradient(to right, blue, purple);
}

/* .scroll_tracker::after {
    content: "";
    background-color: red;
    position: fixed;
    top: 0;
    height: 40px;
    aspect-ratio: 1;
} */