.header p {
    color: black;
    background-image: url(../images/banner.jpg);
    /* background-image: linear-gradient(#ccc, #999); */
    /* box-shadow: 10px 20px 40px pink; */
    /* background-image: radial-gradient(red, green); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-size: 12em;
    font-weight: 800;
    background-repeat: repeat;
    background-clip: text;
}

*::selection {
    background: #111;
    color: red;
}

/* p {
    background-image: url(../images/test.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 200px;
    font-size: 120px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue',
             helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
} */